{% extends "layout.html" %}

{% block title %}
    {{ session.username }}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            {% include 'sidebar.html' %}
            <div class="col-10">
                <div class="row">
                    <div class="col-12 border-bottom align-middle" id="chat-title">

                    </div>
                    <div class="col-12" id="chat-window" data-channel="">

                    </div>
                    <div class="col-12 border-top" id="chat-form">
                        <form method="post" id="send-message-form">
                            <div class="form-group row">
                                <input type="text" name="message" autocomplete="false" autofocus="true"
                                       placeholder="Message" id="message"
                                       class="col-11 form-control" list="emoji">
                                <datalist id="emoji">
                                    <option value=":bowtie:">
                                    <option value=":smile:">
                                    <option value=":simple_smile:">
                                    <option value=":laughing:">
                                    <option value=":blush:">
                                    <option value=":smiley:">
                                    <option value=":relaxed:">
                                    <option value=":smirk:">
                                    <option value=":heart_eyes:">
                                    <option value=":kissing_heart:">
                                    <option value=":kissing_closed_eyes:">
                                    <option value=":flushed:">
                                    <option value=":relieved:">
                                    <option value=":satisfied:">
                                    <option value=":grin:">
                                    <option value=":wink:">
                                    <option value=":stuck_out_tongue_winking_eye:">
                                    <option value=":stuck_out_tongue_closed_eyes:">
                                    <option value=":grinning:">
                                    <option value=":kissing:">
                                    <option value=":kissing_smiling_eyes:">
                                    <option value=":stuck_out_tongue:">
                                    <option value=":sleeping:">
                                    <option value=":worried:">
                                    <option value=":frowning:">
                                    <option value=":anguished:">
                                    <option value=":open_mouth:">
                                    <option value=":grimacing:">
                                    <option value=":confused:">
                                    <option value=":hushed:">
                                    <option value=":expressionless:">
                                    <option value=":unamused:">
                                    <option value=":sweat_smile:">
                                    <option value=":sweat:">
                                    <option value=":disappointed_relieved:">
                                    <option value=":weary:">
                                    <option value=":pensive:">
                                    <option value=":disappointed:">
                                    <option value=":confounded:">
                                    <option value=":fearful:">
                                    <option value=":cold_sweat:">
                                    <option value=":persevere:">
                                    <option value=":cry:">
                                    <option value=":sob:">
                                    <option value=":joy:">
                                    <option value=":astonished:">
                                    <option value=":scream:">
                                    <option value=":neckbeard:">
                                    <option value=":tired_face:">
                                    <option value=":angry:">
                                    <option value=":rage:">
                                    <option value=":triumph:">
                                    <option value=":sleepy:">
                                    <option value=":yum:">
                                    <option value=":mask:">
                                    <option value=":sunglasses:">
                                    <option value=":dizzy_face:">
                                    <option value=":imp:">
                                    <option value=":smiling_imp:">
                                    <option value=":neutral_face:">
                                    <option value=":no_mouth:">
                                    <option value=":innocent:">
                                    <option value=":alien:">
                                    <option value=":yellow_heart:">
                                    <option value=":blue_heart:">
                                    <option value=":purple_heart:">
                                    <option value=":heart:">
                                    <option value=":green_heart:">
                                    <option value=":broken_heart:">
                                    <option value=":heartbeat:">
                                    <option value=":heartpulse:">
                                    <option value=":two_hearts:">
                                    <option value=":revolving_hearts:">
                                    <option value=":cupid:">
                                    <option value=":sparkling_heart:">
                                    <option value=":sparkles:">
                                    <option value=":star:">
                                    <option value=":star2:">
                                    <option value=":dizzy:">
                                    <option value=":boom:">
                                    <option value=":collision:">
                                    <option value=":anger:">
                                    <option value=":exclamation:">
                                    <option value=":question:">
                                    <option value=":grey_exclamation:">
                                    <option value=":grey_question:">
                                    <option value=":zzz:">
                                    <option value=":dash:">
                                    <option value=":sweat_drops:">
                                    <option value=":notes:">
                                    <option value=":musical_note:">
                                    <option value=":fire:">
                                    <option value=":hankey:">
                                    <option value=":poop:">
                                    <option value=":shit:">
                                    <option value=":+1:">
                                    <option value=":thumbsup:">
                                    <option value=":-1:">
                                    <option value=":thumbsdown:">
                                    <option value=":ok_hand:">
                                    <option value=":punch:">
                                    <option value=":facepunch:">
                                    <option value=":fist:">
                                    <option value=":v:">
                                    <option value=":wave:">
                                    <option value=":hand:">
                                    <option value=":raised_hand:">
                                    <option value=":open_hands:">
                                    <option value=":point_up:">
                                    <option value=":point_down:">
                                    <option value=":point_left:">
                                    <option value=":point_right:">
                                    <option value=":raised_hands:">
                                    <option value=":pray:">
                                    <option value=":point_up_2:">
                                    <option value=":clap:">
                                    <option value=":muscle:">
                                    <option value=":metal:">
                                    <option value=":fu:">
                                    <option value=":runner:">
                                    <option value=":running:">
                                    <option value=":couple:">
                                    <option value=":family:">
                                    <option value=":two_men_holding_hands:">
                                    <option value=":two_women_holding_hands:">
                                    <option value=":dancer:">
                                    <option value=":dancers:">
                                    <option value=":ok_woman:">
                                    <option value=":no_good:">
                                    <option value=":information_desk_person:">
                                    <option value=":raising_hand:">
                                    <option value=":bride_with_veil:">
                                    <option value=":person_with_pouting_face:">
                                    <option value=":person_frowning:">
                                    <option value=":bow:">
                                    <option value=":couplekiss:">
                                    <option value=":couple_with_heart:">
                                    <option value=":massage:">
                                    <option value=":haircut:">
                                    <option value=":nail_care:">
                                    <option value=":boy:">
                                    <option value=":girl:">
                                    <option value=":woman:">
                                    <option value=":man:">
                                    <option value=":baby:">
                                    <option value=":older_woman:">
                                    <option value=":older_man:">
                                    <option value=":person_with_blond_hair:">
                                    <option value=":man_with_gua_pi_mao:">
                                    <option value=":man_with_turban:">
                                    <option value=":construction_worker:">
                                    <option value=":cop:">
                                    <option value=":angel:">
                                    <option value=":princess:">
                                    <option value=":smiley_cat:">
                                    <option value=":smile_cat:">
                                    <option value=":heart_eyes_cat:">
                                    <option value=":kissing_cat:">
                                    <option value=":smirk_cat:">
                                    <option value=":scream_cat:">
                                    <option value=":crying_cat_face:">
                                    <option value=":joy_cat:">
                                    <option value=":pouting_cat:">
                                    <option value=":japanese_ogre:">
                                    <option value=":japanese_goblin:">
                                    <option value=":see_no_evil:">
                                    <option value=":hear_no_evil:">
                                    <option value=":speak_no_evil:">
                                    <option value=":guardsman:">
                                    <option value=":skull:">
                                    <option value=":feet:">
                                    <option value=":lips:">
                                    <option value=":kiss:">
                                    <option value=":droplet:">
                                    <option value=":ear:">
                                    <option value=":eyes:">
                                    <option value=":nose:">
                                    <option value=":tongue:">
                                    <option value=":love_letter:">
                                    <option value=":bust_in_silhouette:">
                                    <option value=":busts_in_silhouette:">
                                    <option value=":speech_balloon:">
                                    <option value=":thought_balloon:">
                                    <option value=":feelsgood:">
                                    <option value=":finnadie:">
                                    <option value=":goberserk:">
                                    <option value=":godmode:">
                                    <option value=":hurtrealbad:">
                                    <option value=":rage1:">
                                    <option value=":rage2:">
                                    <option value=":rage3:">
                                    <option value=":rage4:">
                                    <option value=":suspect:">
                                    <option value=":trollface:">
                                    <option value=":sunny:">
                                    <option value=":umbrella:">
                                    <option value=":cloud:">
                                    <option value=":snowflake:">
                                    <option value=":snowman:">
                                    <option value=":zap:">
                                    <option value=":cyclone:">
                                    <option value=":foggy:">
                                    <option value=":ocean:">
                                    <option value=":cat:">
                                    <option value=":dog:">
                                    <option value=":mouse:">
                                    <option value=":hamster:">
                                    <option value=":rabbit:">
                                    <option value=":wolf:">
                                    <option value=":frog:">
                                    <option value=":tiger:">
                                    <option value=":koala:">
                                    <option value=":bear:">
                                    <option value=":pig:">
                                    <option value=":pig_nose:">
                                    <option value=":cow:">
                                    <option value=":boar:">
                                    <option value=":monkey_face:">
                                    <option value=":monkey:">
                                    <option value=":horse:">
                                    <option value=":racehorse:">
                                    <option value=":camel:">
                                    <option value=":sheep:">
                                    <option value=":elephant:">
                                    <option value=":panda_face:">
                                    <option value=":snake:">
                                    <option value=":bird:">
                                    <option value=":baby_chick:">
                                    <option value=":hatched_chick:">
                                    <option value=":hatching_chick:">
                                    <option value=":chicken:">
                                    <option value=":penguin:">
                                    <option value=":turtle:">
                                    <option value=":bug:">
                                    <option value=":honeybee:">
                                    <option value=":ant:">
                                    <option value=":beetle:">
                                    <option value=":snail:">
                                    <option value=":octopus:">
                                    <option value=":tropical_fish:">
                                    <option value=":fish:">
                                    <option value=":whale:">
                                    <option value=":whale2:">
                                    <option value=":dolphin:">
                                    <option value=":cow2:">
                                    <option value=":ram:">
                                    <option value=":rat:">
                                    <option value=":water_buffalo:">
                                    <option value=":tiger2:">
                                    <option value=":rabbit2:">
                                    <option value=":dragon:">
                                    <option value=":goat:">
                                    <option value=":rooster:">
                                    <option value=":dog2:">
                                    <option value=":pig2:">
                                    <option value=":mouse2:">
                                    <option value=":ox:">
                                    <option value=":dragon_face:">
                                    <option value=":blowfish:">
                                    <option value=":crocodile:">
                                    <option value=":dromedary_camel:">
                                    <option value=":leopard:">
                                    <option value=":cat2:">
                                    <option value=":poodle:">
                                    <option value=":paw_prints:">
                                    <option value=":bouquet:">
                                    <option value=":cherry_blossom:">
                                    <option value=":tulip:">
                                    <option value=":four_leaf_clover:">
                                    <option value=":rose:">
                                    <option value=":sunflower:">
                                    <option value=":hibiscus:">
                                    <option value=":maple_leaf:">
                                    <option value=":leaves:">
                                    <option value=":fallen_leaf:">
                                    <option value=":herb:">
                                    <option value=":mushroom:">
                                    <option value=":cactus:">
                                    <option value=":palm_tree:">
                                    <option value=":evergreen_tree:">
                                    <option value=":deciduous_tree:">
                                    <option value=":chestnut:">
                                    <option value=":seedling:">
                                    <option value=":blossom:">
                                    <option value=":ear_of_rice:">
                                    <option value=":shell:">
                                    <option value=":globe_with_meridians:">
                                    <option value=":sun_with_face:">
                                    <option value=":full_moon_with_face:">
                                    <option value=":new_moon_with_face:">
                                    <option value=":new_moon:">
                                    <option value=":waxing_crescent_moon:">
                                    <option value=":first_quarter_moon:">
                                    <option value=":waxing_gibbous_moon:">
                                    <option value=":full_moon:">
                                    <option value=":waning_gibbous_moon:">
                                    <option value=":last_quarter_moon:">
                                    <option value=":waning_crescent_moon:">
                                    <option value=":last_quarter_moon_with_face:">
                                    <option value=":first_quarter_moon_with_face:">
                                    <option value=":crescent_moon:">
                                    <option value=":earth_africa:">
                                    <option value=":earth_americas:">
                                    <option value=":earth_asia:">
                                    <option value=":volcano:">
                                    <option value=":milky_way:">
                                    <option value=":partly_sunny:">
                                    <option value=":octocat:">
                                    <option value=":squirrel:">
                                    <option value=":bamboo:">
                                    <option value=":gift_heart:">
                                    <option value=":dolls:">
                                    <option value=":school_satchel:">
                                    <option value=":mortar_board:">
                                    <option value=":flags:">
                                    <option value=":fireworks:">
                                    <option value=":sparkler:">
                                    <option value=":wind_chime:">
                                    <option value=":rice_scene:">
                                    <option value=":jack_o_lantern:">
                                    <option value=":ghost:">
                                    <option value=":santa:">
                                    <option value=":christmas_tree:">
                                    <option value=":gift:">
                                    <option value=":bell:">
                                    <option value=":no_bell:">
                                    <option value=":tanabata_tree:">
                                    <option value=":tada:">
                                    <option value=":confetti_ball:">
                                    <option value=":balloon:">
                                    <option value=":crystal_ball:">
                                    <option value=":cd:">
                                    <option value=":dvd:">
                                    <option value=":floppy_disk:">
                                    <option value=":camera:">
                                    <option value=":video_camera:">
                                    <option value=":movie_camera:">
                                    <option value=":computer:">
                                    <option value=":tv:">
                                    <option value=":iphone:">
                                    <option value=":phone:">
                                    <option value=":telephone:">
                                    <option value=":telephone_receiver:">
                                    <option value=":pager:">
                                    <option value=":fax:">
                                    <option value=":minidisc:">
                                    <option value=":vhs:">
                                    <option value=":sound:">
                                    <option value=":speaker:">
                                    <option value=":mute:">
                                    <option value=":loudspeaker:">
                                    <option value=":mega:">
                                    <option value=":hourglass:">
                                    <option value=":hourglass_flowing_sand:">
                                    <option value=":alarm_clock:">
                                    <option value=":watch:">
                                    <option value=":radio:">
                                    <option value=":satellite:">
                                    <option value=":loop:">
                                    <option value=":mag:">
                                    <option value=":mag_right:">
                                    <option value=":unlock:">
                                    <option value=":lock:">
                                    <option value=":lock_with_ink_pen:">
                                    <option value=":closed_lock_with_key:">
                                    <option value=":key:">
                                    <option value=":bulb:">
                                    <option value=":flashlight:">
                                    <option value=":high_brightness:">
                                    <option value=":low_brightness:">
                                    <option value=":electric_plug:">
                                    <option value=":battery:">
                                    <option value=":calling:">
                                    <option value=":email:">
                                    <option value=":mailbox:">
                                    <option value=":postbox:">
                                    <option value=":bath:">
                                    <option value=":bathtub:">
                                    <option value=":shower:">
                                    <option value=":toilet:">
                                    <option value=":wrench:">
                                    <option value=":nut_and_bolt:">
                                    <option value=":hammer:">
                                    <option value=":seat:">
                                    <option value=":moneybag:">
                                    <option value=":yen:">
                                    <option value=":dollar:">
                                    <option value=":pound:">
                                    <option value=":euro:">
                                    <option value=":credit_card:">
                                    <option value=":money_with_wings:">
                                    <option value=":e-mail:">
                                    <option value=":inbox_tray:">
                                    <option value=":outbox_tray:">
                                    <option value=":envelope:">
                                    <option value=":incoming_envelope:">
                                    <option value=":postal_horn:">
                                    <option value=":mailbox_closed:">
                                    <option value=":mailbox_with_mail:">
                                    <option value=":mailbox_with_no_mail:">
                                    <option value=":package:">
                                    <option value=":door:">
                                    <option value=":smoking:">
                                    <option value=":bomb:">
                                    <option value=":gun:">
                                    <option value=":hocho:">
                                    <option value=":pill:">
                                    <option value=":syringe:">
                                    <option value=":page_facing_up:">
                                    <option value=":page_with_curl:">
                                    <option value=":bookmark_tabs:">
                                    <option value=":bar_chart:">
                                    <option value=":chart_with_upwards_trend:">
                                    <option value=":chart_with_downwards_trend:">
                                    <option value=":scroll:">
                                    <option value=":clipboard:">
                                    <option value=":calendar:">
                                    <option value=":date:">
                                    <option value=":card_index:">
                                    <option value=":file_folder:">
                                    <option value=":open_file_folder:">
                                    <option value=":scissors:">
                                    <option value=":pushpin:">
                                    <option value=":paperclip:">
                                    <option value=":black_nib:">
                                    <option value=":pencil2:">
                                    <option value=":straight_ruler:">
                                    <option value=":triangular_ruler:">
                                    <option value=":closed_book:">
                                    <option value=":green_book:">
                                    <option value=":blue_book:">
                                    <option value=":orange_book:">
                                    <option value=":notebook:">
                                    <option value=":notebook_with_decorative_cover:">
                                    <option value=":ledger:">
                                    <option value=":books:">
                                    <option value=":bookmark:">
                                    <option value=":name_badge:">
                                    <option value=":microscope:">
                                    <option value=":telescope:">
                                    <option value=":newspaper:">
                                    <option value=":football:">
                                    <option value=":basketball:">
                                    <option value=":soccer:">
                                    <option value=":baseball:">
                                    <option value=":tennis:">
                                    <option value=":8ball:">
                                    <option value=":rugby_football:">
                                    <option value=":bowling:">
                                    <option value=":golf:">
                                    <option value=":mountain_bicyclist:">
                                    <option value=":bicyclist:">
                                    <option value=":horse_racing:">
                                    <option value=":snowboarder:">
                                    <option value=":swimmer:">
                                    <option value=":surfer:">
                                    <option value=":ski:">
                                    <option value=":spades:">
                                    <option value=":hearts:">
                                    <option value=":clubs:">
                                    <option value=":diamonds:">
                                    <option value=":gem:">
                                    <option value=":ring:">
                                    <option value=":trophy:">
                                    <option value=":musical_score:">
                                    <option value=":musical_keyboard:">
                                    <option value=":violin:">
                                    <option value=":space_invader:">
                                    <option value=":video_game:">
                                    <option value=":black_joker:">
                                    <option value=":flower_playing_cards:">
                                    <option value=":game_die:">
                                    <option value=":dart:">
                                    <option value=":mahjong:">
                                    <option value=":clapper:">
                                    <option value=":memo:">
                                    <option value=":pencil:">
                                    <option value=":book:">
                                    <option value=":art:">
                                    <option value=":microphone:">
                                    <option value=":headphones:">
                                    <option value=":trumpet:">
                                    <option value=":saxophone:">
                                    <option value=":guitar:">
                                    <option value=":shoe:">
                                    <option value=":sandal:">
                                    <option value=":high_heel:">
                                    <option value=":lipstick:">
                                    <option value=":boot:">
                                    <option value=":shirt:">
                                    <option value=":tshirt:">
                                    <option value=":necktie:">
                                    <option value=":womans_clothes:">
                                    <option value=":dress:">
                                    <option value=":running_shirt_with_sash:">
                                    <option value=":jeans:">
                                    <option value=":kimono:">
                                    <option value=":bikini:">
                                    <option value=":ribbon:">
                                    <option value=":tophat:">
                                    <option value=":crown:">
                                    <option value=":womans_hat:">
                                    <option value=":mans_shoe:">
                                    <option value=":closed_umbrella:">
                                    <option value=":briefcase:">
                                    <option value=":handbag:">
                                    <option value=":pouch:">
                                    <option value=":purse:">
                                    <option value=":eyeglasses:">
                                    <option value=":fishing_pole_and_fish:">
                                    <option value=":coffee:">
                                    <option value=":tea:">
                                    <option value=":sake:">
                                    <option value=":baby_bottle:">
                                    <option value=":beer:">
                                    <option value=":beers:">
                                    <option value=":cocktail:">
                                    <option value=":tropical_drink:">
                                    <option value=":wine_glass:">
                                    <option value=":fork_and_knife:">
                                    <option value=":pizza:">
                                    <option value=":hamburger:">
                                    <option value=":fries:">
                                    <option value=":poultry_leg:">
                                    <option value=":meat_on_bone:">
                                    <option value=":spaghetti:">
                                    <option value=":curry:">
                                    <option value=":fried_shrimp:">
                                    <option value=":bento:">
                                    <option value=":sushi:">
                                    <option value=":fish_cake:">
                                    <option value=":rice_ball:">
                                    <option value=":rice_cracker:">
                                    <option value=":rice:">
                                    <option value=":ramen:">
                                    <option value=":stew:">
                                    <option value=":oden:">
                                    <option value=":dango:">
                                    <option value=":egg:">
                                    <option value=":bread:">
                                    <option value=":doughnut:">
                                    <option value=":custard:">
                                    <option value=":icecream:">
                                    <option value=":ice_cream:">
                                    <option value=":shaved_ice:">
                                    <option value=":birthday:">
                                    <option value=":cake:">
                                    <option value=":cookie:">
                                    <option value=":chocolate_bar:">
                                    <option value=":candy:">
                                    <option value=":lollipop:">
                                    <option value=":honey_pot:">
                                    <option value=":apple:">
                                    <option value=":green_apple:">
                                    <option value=":tangerine:">
                                    <option value=":lemon:">
                                    <option value=":cherries:">
                                    <option value=":grapes:">
                                    <option value=":watermelon:">
                                    <option value=":strawberry:">
                                    <option value=":peach:">
                                    <option value=":melon:">
                                    <option value=":banana:">
                                    <option value=":pear:">
                                    <option value=":pineapple:">
                                    <option value=":sweet_potato:">
                                    <option value=":eggplant:">
                                    <option value=":tomato:">
                                    <option value=":corn:">
                                    <option value=":house:">
                                    <option value=":house_with_garden:">
                                    <option value=":school:">
                                    <option value=":office:">
                                    <option value=":post_office:">
                                    <option value=":hospital:">
                                    <option value=":bank:">
                                    <option value=":convenience_store:">
                                    <option value=":love_hotel:">
                                    <option value=":hotel:">
                                    <option value=":wedding:">
                                    <option value=":church:">
                                    <option value=":department_store:">
                                    <option value=":european_post_office:">
                                    <option value=":city_sunrise:">
                                    <option value=":city_sunset:">
                                    <option value=":japanese_castle:">
                                    <option value=":european_castle:">
                                    <option value=":tent:">
                                    <option value=":factory:">
                                    <option value=":tokyo_tower:">
                                    <option value=":japan:">
                                    <option value=":mount_fuji:">
                                    <option value=":sunrise_over_mountains:">
                                    <option value=":sunrise:">
                                    <option value=":stars:">
                                    <option value=":statue_of_liberty:">
                                    <option value=":bridge_at_night:">
                                    <option value=":carousel_horse:">
                                    <option value=":rainbow:">
                                    <option value=":ferris_wheel:">
                                    <option value=":fountain:">
                                    <option value=":roller_coaster:">
                                    <option value=":ship:">
                                    <option value=":speedboat:">
                                    <option value=":boat:">
                                    <option value=":sailboat:">
                                    <option value=":rowboat:">
                                    <option value=":anchor:">
                                    <option value=":rocket:">
                                    <option value=":airplane:">
                                    <option value=":helicopter:">
                                    <option value=":steam_locomotive:">
                                    <option value=":tram:">
                                    <option value=":mountain_railway:">
                                    <option value=":bike:">
                                    <option value=":aerial_tramway:">
                                    <option value=":suspension_railway:">
                                    <option value=":mountain_cableway:">
                                    <option value=":tractor:">
                                    <option value=":blue_car:">
                                    <option value=":oncoming_automobile:">
                                    <option value=":car:">
                                    <option value=":red_car:">
                                    <option value=":taxi:">
                                    <option value=":oncoming_taxi:">
                                    <option value=":articulated_lorry:">
                                    <option value=":bus:">
                                    <option value=":oncoming_bus:">
                                    <option value=":rotating_light:">
                                    <option value=":police_car:">
                                    <option value=":oncoming_police_car:">
                                    <option value=":fire_engine:">
                                    <option value=":ambulance:">
                                    <option value=":minibus:">
                                    <option value=":truck:">
                                    <option value=":train:">
                                    <option value=":station:">
                                    <option value=":train2:">
                                    <option value=":bullettrain_front:">
                                    <option value=":bullettrain_side:">
                                    <option value=":light_rail:">
                                    <option value=":monorail:">
                                    <option value=":railway_car:">
                                    <option value=":trolleybus:">
                                    <option value=":ticket:">
                                    <option value=":fuelpump:">
                                    <option value=":vertical_traffic_light:">
                                    <option value=":traffic_light:">
                                    <option value=":warning:">
                                    <option value=":construction:">
                                    <option value=":beginner:">
                                    <option value=":atm:">
                                    <option value=":slot_machine:">
                                    <option value=":busstop:">
                                    <option value=":barber:">
                                    <option value=":hotsprings:">
                                    <option value=":checkered_flag:">
                                    <option value=":crossed_flags:">
                                    <option value=":izakaya_lantern:">
                                    <option value=":moyai:">
                                    <option value=":circus_tent:">
                                    <option value=":performing_arts:">
                                    <option value=":round_pushpin:">
                                    <option value=":triangular_flag_on_post:">
                                    <option value=":jp:">
                                    <option value=":kr:">
                                    <option value=":cn:">
                                    <option value=":us:">
                                    <option value=":fr:">
                                    <option value=":es:">
                                    <option value=":it:">
                                    <option value=":ru:">
                                    <option value=":gb:">
                                    <option value=":uk:">
                                    <option value=":de:">
                                    <option value=":one:">
                                    <option value=":two:">
                                    <option value=":three:">
                                    <option value=":four:">
                                    <option value=":five:">
                                    <option value=":six:">
                                    <option value=":seven:">
                                    <option value=":eight:">
                                    <option value=":nine:">
                                    <option value=":keycap_ten:">
                                    <option value=":1234:">
                                    <option value=":zero:">
                                    <option value=":hash:">
                                    <option value=":symbols:">
                                    <option value=":arrow_backward:">
                                    <option value=":arrow_down:">
                                    <option value=":arrow_forward:">
                                    <option value=":arrow_left:">
                                    <option value=":capital_abcd:">
                                    <option value=":abcd:">
                                    <option value=":abc:">
                                    <option value=":arrow_lower_left:">
                                    <option value=":arrow_lower_right:">
                                    <option value=":arrow_right:">
                                    <option value=":arrow_up:">
                                    <option value=":arrow_upper_left:">
                                    <option value=":arrow_upper_right:">
                                    <option value=":arrow_double_down:">
                                    <option value=":arrow_double_up:">
                                    <option value=":arrow_down_small:">
                                    <option value=":arrow_heading_down:">
                                    <option value=":arrow_heading_up:">
                                    <option value=":leftwards_arrow_with_hook:">
                                    <option value=":arrow_right_hook:">
                                    <option value=":left_right_arrow:">
                                    <option value=":arrow_up_down:">
                                    <option value=":arrow_up_small:">
                                    <option value=":arrows_clockwise:">
                                    <option value=":arrows_counterclockwise:">
                                    <option value=":rewind:">
                                    <option value=":fast_forward:">
                                    <option value=":information_source:">
                                    <option value=":ok:">
                                    <option value=":twisted_rightwards_arrows:">
                                    <option value=":repeat:">
                                    <option value=":repeat_one:">
                                    <option value=":new:">
                                    <option value=":top:">
                                    <option value=":up:">
                                    <option value=":cool:">
                                    <option value=":free:">
                                    <option value=":ng:">
                                    <option value=":cinema:">
                                    <option value=":koko:">
                                    <option value=":signal_strength:">
                                    <option value=":u5272:">
                                    <option value=":u5408:">
                                    <option value=":u55b6:">
                                    <option value=":u6307:">
                                    <option value=":u6708:">
                                    <option value=":u6709:">
                                    <option value=":u6e80:">
                                    <option value=":u7121:">
                                    <option value=":u7533:">
                                    <option value=":u7a7a:">
                                    <option value=":u7981:">
                                    <option value=":sa:">
                                    <option value=":restroom:">
                                    <option value=":mens:">
                                    <option value=":womens:">
                                    <option value=":baby_symbol:">
                                    <option value=":no_smoking:">
                                    <option value=":parking:">
                                    <option value=":wheelchair:">
                                    <option value=":metro:">
                                    <option value=":baggage_claim:">
                                    <option value=":accept:">
                                    <option value=":wc:">
                                    <option value=":potable_water:">
                                    <option value=":put_litter_in_its_place:">
                                    <option value=":secret:">
                                    <option value=":congratulations:">
                                    <option value=":m:">
                                    <option value=":passport_control:">
                                    <option value=":left_luggage:">
                                    <option value=":customs:">
                                    <option value=":ideograph_advantage:">
                                    <option value=":cl:">
                                    <option value=":sos:">
                                    <option value=":id:">
                                    <option value=":no_entry_sign:">
                                    <option value=":underage:">
                                    <option value=":no_mobile_phones:">
                                    <option value=":do_not_litter:">
                                    <option value=":non-potable_water:">
                                    <option value=":no_bicycles:">
                                    <option value=":no_pedestrians:">
                                    <option value=":children_crossing:">
                                    <option value=":no_entry:">
                                    <option value=":eight_spoked_asterisk:">
                                    <option value=":sparkle:">
                                    <option value=":eight_pointed_black_star:">
                                    <option value=":heart_decoration:">
                                    <option value=":vs:">
                                    <option value=":vibration_mode:">
                                    <option value=":mobile_phone_off:">
                                    <option value=":chart:">
                                    <option value=":currency_exchange:">
                                    <option value=":aries:">
                                    <option value=":taurus:">
                                    <option value=":gemini:">
                                    <option value=":cancer:">
                                    <option value=":leo:">
                                    <option value=":virgo:">
                                    <option value=":libra:">
                                    <option value=":scorpius:">
                                    <option value=":sagittarius:">
                                    <option value=":capricorn:">
                                    <option value=":aquarius:">
                                    <option value=":pisces:">
                                    <option value=":ophiuchus:">
                                    <option value=":six_pointed_star:">
                                    <option value=":negative_squared_cross_mark:">
                                    <option value=":a:">
                                    <option value=":b:">
                                    <option value=":ab:">
                                    <option value=":o2:">
                                    <option value=":diamond_shape_with_a_dot_inside:">
                                    <option value=":recycle:">
                                    <option value=":end:">
                                    <option value=":back:">
                                    <option value=":on:">
                                    <option value=":soon:">
                                    <option value=":clock1:">
                                    <option value=":clock130:">
                                    <option value=":clock10:">
                                    <option value=":clock1030:">
                                    <option value=":clock11:">
                                    <option value=":clock1130:">
                                    <option value=":clock12:">
                                    <option value=":clock1230:">
                                    <option value=":clock2:">
                                    <option value=":clock230:">
                                    <option value=":clock3:">
                                    <option value=":clock330:">
                                    <option value=":clock4:">
                                    <option value=":clock430:">
                                    <option value=":clock5:">
                                    <option value=":clock530:">
                                    <option value=":clock6:">
                                    <option value=":clock630:">
                                    <option value=":clock7:">
                                    <option value=":clock730:">
                                    <option value=":clock8:">
                                    <option value=":clock830:">
                                    <option value=":clock9:">
                                    <option value=":clock930:">
                                    <option value=":heavy_dollar_sign:">
                                    <option value=":copyright:">
                                    <option value=":registered:">
                                    <option value=":tm:">
                                    <option value=":x:">
                                    <option value=":heavy_exclamation_mark:">
                                    <option value=":bangbang:">
                                    <option value=":interrobang:">
                                    <option value=":o:">
                                    <option value=":heavy_multiplication_x:">
                                    <option value=":heavy_plus_sign:">
                                    <option value=":heavy_minus_sign:">
                                    <option value=":heavy_division_sign:">
                                    <option value=":white_flower:">
                                    <option value=":100:">
                                    <option value=":heavy_check_mark:">
                                    <option value=":ballot_box_with_check:">
                                    <option value=":radio_button:">
                                    <option value=":link:">
                                    <option value=":curly_loop:">
                                    <option value=":wavy_dash:">
                                    <option value=":part_alternation_mark:">
                                    <option value=":trident:">
                                    <option value=":black_small_square:">
                                    <option value=":white_small_square:">
                                    <option value=":black_medium_small_square:">
                                    <option value=":white_medium_small_square:">
                                    <option value=":black_medium_square:">
                                    <option value=":white_medium_square:">
                                    <option value=":black_large_square:">
                                    <option value=":white_large_square:">
                                    <option value=":white_check_mark:">
                                    <option value=":black_square_button:">
                                    <option value=":white_square_button:">
                                    <option value=":black_circle:">
                                    <option value=":white_circle:">
                                    <option value=":red_circle:">
                                    <option value=":large_blue_circle:">
                                    <option value=":large_blue_diamond:">
                                    <option value=":large_orange_diamond:">
                                    <option value=":small_blue_diamond:">
                                    <option value=":small_orange_diamond:">
                                    <option value=":small_red_triangle:">
                                    <option value=":small_red_triangle_down:">
                                    <option value=":shipit:">
                                </datalist>
                                <span class="col-1">
                                    <button type="submit" class="btn btn-white-success" title="add channel">
                                        <i class="fa fa-paper-plane"></i> send
                                    </button>
                                </span>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <script id="channel-name" type="text/x-handlebars-template">
        {% raw -%}
            {{#each values}}
            <li><a href="" data-channel="{{ this }}" class="channel-link">{{ this }}</a></li>
            {{/each}}
        {%- endraw %}
    </script>

    <script id="message-box" type="text/x-handlebars-template">
        {% raw -%}
            {{#each values}}
            <div class="card border-0">
                <div class="card-body">
                    <b class="card-title">{{ this.username }} <small
                            class="text-muted"><i>{{ this.time }}</i></small></b>
                    <div class="card-text">{{{ this.message }}}</div>
                </div>
            </div>
            {{/each}}
        {%- endraw %}
    </script>

    <script src="/static/main.js"></script>
{% endblock %}