<div class="col-2 p-3" id="sidebar">
    <div class="sidebar-header">
        <h4>Chat Channels</h4>
    </div>
    <ul class="" id="chats">

    </ul>
    <ul class="" id="users">

    </ul>
    <ul class="list-unstyled">
    <li class="text-center">
            <hr>
            <form class="form-inline" method="post" id="add-channel-form">
                <div class="form-group row" id="add-channel-form-group">
                    <div class="col-1"></div>
                    <input type="text" name="channel_name" class="col-7 form-control" id="channel_name" placeholder="Channel name">
                    <span class="col-2">
                        <button type="submit" class="btn btn-sm btn-success" title="add channel">
                            <i class="fa fa-plus-circle"></i> <span id="sidebar-button-text">add</span>
                </button>
                    </span>
                </div>
            </form>
            <hr>
        </li>
    </ul>
    <footer class="small text-center text-muted">
        created by Rafal Przetakowski
    </footer>
</div>